[package]
name = "git-metrics"
description = "A git extension to store metrics directly in git, using the notes."
authors = ["Jeremie Drouet <jeremie.drouet@gmail.com>"]
license = "MIT"
version = "0.1.4"
edition = "2021"
repository = "https://github.com/jdrouet/git-metrics"

[features]
default = ["impl-command", "impl-git2"]
impl-command = []
impl-git2 = ["dep:git2", "dep:auth-git2"]

[dependencies]
auth-git2 = { version = "0.5.4", optional = true, features = ["log"] }
clap = { version = "4.5.4", features = ["derive", "env"] }
git2 = { version = "0.18.3", optional = true }
indexmap = { version = "2.2.6", features = ["serde"] }
serde = { version = "1.0.200", features = ["derive"] }
thiserror = { version = "1.0.60" }
toml = { version = "0.8.12", features = ["preserve_order"] }
tracing = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18" }

[dev-dependencies]
mockall = "0.12.1"
tempfile = "3.10.1"
test-case = "3.3.1"

[package.metadata.deb]
maintainer = "Jeremie Drouet <jeremie.drouet@gmail.com>"
copyright = "20124, Jeremie Drouet <jeremie.drouet@gmail.com>"
license-file = ["LICENSE", "4"]
extended-description = "A git extension to store metrics directly in git, using the notes."
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    [
        "target/release/git-metrics",
        "usr/bin/",
        "755",
    ],
    [
        "readme.md",
        "usr/share/doc/git-metrics/README",
        "644",
    ],
]
